/* @import "./vazir-fonts/fonts.css"; */

@font-face {
  font-family: font1;
  src: url(./fonts/Vazir.ttf);
}

.font1 {
  font-family: font1;
}

.backgroundc {
  background-color: rgb(248, 255, 248);
}

body {
  direction: rtl;
  background-color: rgb(248, 255, 248);
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fix-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}

nav {
  direction: ltr;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: black;
}

.btn a {
  text-decoration: none;
  color: black;
}

.btn a:hover {
  text-decoration: none;
  color: black;
}

.info-sec {
  background-color: #ff6b6b;
  color: aliceblue;
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-item {
  display: flex;
  flex-basis: auto;
  align-items: center;
  flex-grow: 1;
}

.cart-style {
  position: relative;
  top: 0.4rem;
}

.list-items {
  display: block;
  padding: .75rem 1.25rem;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
}

.my-container {
  max-width: 100%;
  width: 100%;
}

.charge-box {
  margin: auto;
  text-align: center;
  margin-top: 5em;
  background-color: white;
  border: solid 0.5px;
  border-radius: 20px;
  width: 60%;
}

.btns {
  position: relative;
  top: -32px;
}

.btns .rb {
  border: solid 0.5px;
  border-radius: 6px;
  border-left: dashed 1px;
  width: 15vw;
  height: 65px;
  background-color: white;
}

.btns .lb {
  border: solid 0.5px #ff6b6b;
  border-radius: 6px;
  border-right: unset;
  width: 15vw;
  height: 65px;
  background-color: #ff6b6b;
  color: white;
}

.btns .lb:hover {
  color: white;
}

.btns .rb2 {
  border: solid 0.5px #ff6b6b;
  border-radius: 6px;
  border-left: dashed 1px;
  width: 15vw;
  height: 65px;
  background-color: #ff6b6b;
  color: white;
}

.btns .rb2:hover {
  color: white;
}

.btns .lb2 {
  border: solid 0.5px;
  border-radius: 6px;
  border-right: unset;
  width: 15vw;
  height: 65px;
  background-color: white;
}

.charge-wrapper {
  margin-bottom: 4em;
  margin-top: 2em;
}

.charge-wrapper .input-credit {
  width: 17em;
  height: 43px;
  display: inline;
  margin-left: 5px;
}

.charge-wrapper .btn-credit {
  width: 10em;
  background-color: #4ECDC4;
  color: white;
  border: solid 1px;
  border-radius: 7px;
  height: 45px;
  display: inline;
  margin-right: 5px;
}

.footer {
  flex-shrink: 0;
  background-color: #1A535C;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top:60px;
}

.text-align-right {
  text-align: right;
}

.m-zero-auto {
  text-align: center;
}

.footer p {
  display: inline;
}

.vivaldi {
  background-color: rgb(251, 251, 251);
  border-radius: 6px;
}

.in-way {
  background-color: rgb(214, 253, 204);
}

.search {
  background-color: rgb(218, 254, 252);
}

.bill {
  background-color: rgb(252, 229, 127);
}

.main-container {
  margin: auto;
  text-align: center;
  margin-top: -50px;
  width: 100%;
}

.h12rem {
  height: 11rem;
}

.img-c {
  text-align: center;
  position: relative;
  top: -94px;
}
.img-c img {
  border: solid 5px white;
  border-radius: 20px;
}

.bl {
  color: #1A535C;
  padding: 0;
}

.restaurant-cart {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  font-size: 0.9rem;
}

.cart-box {
  border: 1px dashed;
  border-radius: 10px;
  font-size: 0.8rem;
}

.price {
  text-align: left;
}

.bl h3 {
  border-bottom: solid 2px;
}

.b-r-d {
  border-right: 2px dashed;
}

.icon-pos-h-1 {
  position: relative;
  right: 20px;
}

.icon-pos-h-2 {
  position: relative;
  right: 40px;
}

.icon-pos-v {
  position: relative;
  top:4px;
}

.main-container .btn-b {
  width: 10em;
  background-color: #4ECDC4;
  color: white;
  border: solid 1px;
  border-radius: 7px;
  display: inline;
}

.main-container .btn-b:hover {
  text-decoration: none;
  color: white;
  background-color: rgb(36, 112, 107);
}

.btn-align {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem !important;
}


@media only screen and (max-width: 1028px) {
  .img-c{
    top: -58px
  }
  .res-image {
    width: 150px;
    height: 150px;
  }
}